<!--html template with django code snippets-->

{% extends 'base.html' %}


{% block title %}Competencies{% endblock %}


{% block content %}

    <h2>Database models</h2>

<!--iterates through subclasses of entity class-->   
{% for entity in objectDic %}
<b>{{entity.name}}</b>
&nbsp;<a href="{% url 'renderForm' entity.name %}"><i class="bi bi-plus-circle-fill" ></i></a>
&nbsp;<a href="{% url 'exportCSV' entity.name %}"><i class="bi bi-file-earmark-arrow-down-fill icon"></i></a>
    <table class="table table-dark">
      
      {% for object in entity.objects %}
          
              <tr>
                  
                  <td style="width:94%">{{object.name}} </td>
                  <td><center><a href="{% url 'deleteInstance' object.class_id %}"><i class="bi bi-x-square bin"></a></center></td>
                  <td><center><a href="{% url 'renderForm' object.class_id %}"><i class="bi bi-pencil"></a></center></td>
              </tr>
          

      {% endfor %}
  </table> 
{% endfor %}





{% endblock %}


