<!--html template with django code snippets-->

{% extends 'base.html' %}
{% load socialaccount %}

{% block title %}Competencies{% endblock %}
{%load crispy_forms_tags %}

{% block content %}

{% if user.is_authenticated %}



{% block content %}
    <h2>Competencies list</h2>
    <ul>
        {% for task in object_list %}
            <li>{{ task.description }}</li>
        {% empty %}
        <li>No competencies yet</li>
        {% endfor %}
    </ul>
{% endblock %}


{% else %}
<a href="{% provider_login_url 'google' %}">Login with Google</a>
  {% endif %}


{% endblock %}


