<!--html template with django code snippets-->

{% extends 'base.html' %}


{% block title %}My Skills{% endblock %}


{% block content %}


<div class="d-flex flex-row-reverse bd-highlight mb-1 col">
    <!--buttons to navigate-->    
     <div class="btn-group" role="group" aria-label="Basic example">
         
         
         <a class="btn btn-secondary" role="button" href="{% url 'entities' 'protocols' %}">Protocols</a>&nbsp;
         {% if user.is_superuser %}
           <div class="dropdown">
           <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Entities
           </button>&nbsp;
           <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
             <a class="dropdown-item" href="{% url 'entities' 'persons' %}">Persons</a>
             <a class="dropdown-item" href="{% url 'entities' 'Protocol type' %}">Protocol types</a>
             <a class="dropdown-item" href="{% url 'entities' 'tasks' %}">Tasks</a>
             <a class="dropdown-item" href="{% url 'entities' 'ListFields' %}">Fields</a>
           </div>       
         </div>
         {% endif %}
    
       </div>
     </div>






    <h2>My skills</h2>


    <table class="table table-dark">
      <!-- <tr class="table-primary">
          <th></th>
          <th></th>
          <th></th>
        </tr> -->
       
        <!--iterates through instances of class-->
      {% for object in objects %}
          
              <tr>
                  
                  <td style="width:94%">{{object.name}} </td>
                  <td><center><a href="{% url 'deleteInstance' object.class_id %}"><i class="bi bi-x-square bin"></i></i></a></center></td>
                  <td><center><a href="{% url 'renderForm' object.class_id %}"><i class="bi bi-pencil"></i></a></center></td>
              </tr>
          

      {% endfor %}
  </table> 






{% endblock %}


