
{% extends 'base.html' %}

{% load static %}


{% block title %}about app{% endblock %}

{% block content %}

<h1>Protocols app</h1>

<p>This is a service for keeping a log of the progression of various protocols common to the school. <br>
  These protocols may be such repeated workflows as inducting new students, new staff etc etc. </p><br>
  Click below for Guide<br>
<a href="https://sites.google.com/dwightlondon.org/whole-school-hub/protocols" target="_blank">https://sites.google.com/dwightlondon.org/whole-school-hub/protocols</a><br><br>
<img src="{% static 'guide.png' %}" width="800px">

<h1>Skills app</h1>

<p>This is a service for all your IT skills needs. It is the place where you can...<p>
  <ul>
    <li>Find out what IT skills you need for your role
     <li>Link to resources to learn these skills</li> 
      <li>Find which staff to appraoch who have these skills</li>
      <li>Keep track of what skills you have acquired</li>
      <li>Propose skills to learn</li>
      <li>Upvote skills you think important</li>
  </ul>
  <p>It is the place where we can collectlively collate the IT skills we feel we need to deliver high quality personalised education for our students.</p>
{% endblock %}