<!--html template with django code snippets-->

{% extends 'base.html' %}
{% load socialaccount %}

{% block title %}protocols{% endblock %}
{%load crispy_forms_tags %}

{% block content %}

{% if user.is_authenticated %}



<div class="d-flex flex-row bd-highlight mb-1 col">
 <!--buttons to navigate-->    
  <div class="btn-group" role="group" aria-label="Basic example">
      <div class="dropdown">
        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Start New protocol
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% for type in protocoltype %}  
          <a class="dropdown-item" href="{% url 'protocolAdd' type.id  %}">{{ type }}</a>
        {% endfor %}  
      
        </div>
      </div>&nbsp;      
      <a class="btn btn-primary" role="button" href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to={{ emails }}&su=Dwight%20Protocols&body=Click%20below%20to%20see%20tasks%20to%20complete%0Dhttps://dwight-london-protocols.herokuapp.com/" target="_blank" alt="Compose email to listed taskholders with incomplete tasks">Send email</a>&nbsp;
      <a class="btn btn-secondary" role="button" href="{% url 'entities' 'protocols' %}">Protocols</a>&nbsp;
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Entities
        </button>&nbsp;
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="{% url 'entities' 'persons' %}">Persons</a>
          <a class="dropdown-item" href="{% url 'entities' 'Protocol type' %}">Protocol types</a>
          <a class="dropdown-item" href="{% url 'entities' 'tasks' %}">Tasks</a>
          <a class="dropdown-item" href="{% url 'entities' 'ListFields' %}">Fields</a>
        </div>       
      </div>
 
    </div>
  </div>


 
<!--form to filter task data-->
  <div class="bd-highlight flex-column justify-content-baseline" >
    <form action="" method="POST">
      {% csrf_token %}
      {{filterForm|crispy}}
      <button class="btn btn-info" type="submit">Filter</button>
      <a role="button" class="btn btn-secondary" href="{% url 'clear' %}">Clear</a>
    </form><br>
    
  </div>

  <div class="bd-highlight flex-column justify-content-baseline">
 <!--list of task data-->
    {% if all_items %}
    <table class="table table-dark">
        <tr>
            <th>Complete</th>
            <th>Name</th>
            <th>Description</th>
              <th>Responsibility</th>
              <th>Protocol type</th>
           
          </tr>
         
          <!--iterates through all_items object-->
        {% for things in all_items %}
            
                <tr>
                    <!-- <td >
                    <div class="checkbox checkbox-md"><input class="taskCheckbox" type="checkbox" id="check{{things.id}}" data-catid="{{ things.id }}" {% if things.completed %} checked  {% else %} unchecked {% endif %} ></center>
                    </div></td> -->
                    <td><label class="container">
                      <input class="taskCheckbox" type="checkbox" id="check{{things.id}}" data-catid="{{ things.id }}" {% if things.completed %} checked  {% else %} unchecked {% endif %}>
                      <span class="checkmark"></span>
                    </label></td>
                    <td >{{ things.protocol.forename }}</td>
                    <td >{{ things.task.TaskDescription }}</td>
                    <td >{{ things.task.person.name }}</td>
                    <td >{{ things.protocol.type }} </td>
                    
                </tr>
         
        {% endfor %}
    </table>    
    

    {% endif %}
  </div> 
  <!--ajax call to server to update cross/uncross without reloading page-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript">
    $('.taskCheckbox').click(function(){
    var catid;
    catid = $(this).attr("data-catid");
    $.ajax(
    {
        type:"GET",
        url: "/cross",
        data:{
                 post_id: catid
        },
        success: function( data ) 
        {
            // $( '#check'+ catid ).remove();
            $( '#message' ).text(data);
        }
     })
});
</script>





{% else %}
<a href="{% provider_login_url 'google' %}">Login with Google</a>
  {% endif %}


{% endblock %}


