<!--html template with django code snippets-->

{% extends 'base.html' %}
{% load socialaccount %}

{% block title %}protocols{% endblock %}
{%load crispy_forms_tags %}

{% block content %}

{% if user.is_authenticated %}



<div class="d-flex flex-row-reverse bd-highlight mb-1 col">
 <!--buttons to navigate-->    
  <div class="btn-group" role="group" aria-label="Basic example">
      <div class="dropdown">
        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Start New protocol
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% for type in protocoltype %}  
          <a class="dropdown-item" href="{% url 'protocolAdd' type.id  %}">{{ type }}</a>
        {% endfor %}  
      
        </div>
      </div>&nbsp; 
      <button class="btn btn-primary" type="button" onclick="sendEmail()">
        Send Email
      </button>&nbsp;     
      <!-- <a class="btn btn-primary" role="button"   href="" alt="Compose email to listed taskholders with incomplete tasks">Send email</a>&nbsp; -->
      <a class="btn btn-secondary" role="button" href="{% url 'entities' 'protocols' %}">Protocols</a>&nbsp;
      {% if user.is_superuser %}
        <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Entities
        </button>&nbsp;
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="{% url 'entities' 'persons' %}">Persons</a>
          <a class="dropdown-item" href="{% url 'entities' 'Protocol type' %}">Protocol types</a>
          <a class="dropdown-item" href="{% url 'entities' 'tasks' %}">Tasks</a>
          <a class="dropdown-item" href="{% url 'entities' 'ListFields' %}">Fields</a>
        </div>       
      </div>
      {% endif %}
 
    </div>
  </div>


 
<!--form to filter task data-->
  <div class="bd-highlight flex-column justify-content-baseline" >
    <form action="" method="POST">
      {% csrf_token %}
      {{filterForm|crispy}}
      <button class="btn btn-info" type="submit">Filter</button>
      <a role="button" class="btn btn-secondary" href="{% url 'home' 'clear' %}">Clear</a>
    </form><br>
    
  </div>

  <div class="bd-highlight flex-column justify-content-baseline">
 <!--list of task data-->
    {% if all_items %}
    <table class="table table-dark">
        <tr>
            <th>Complete</th>
            <th>Name</th>
            <th>Description</th>
              <th>Responsibility</th>
              <th>Protocol type</th>
           
          </tr>
         
          <!--iterates through all_items object-->
        {% for things in all_items %}
            
                <tr>
    
                    <td><label class="container"><center>
                      <input class="taskCheckbox" type="checkbox" id="check{{things.id}}" data-catid="{{ things.id }}" {% if things.completed %} checked  {% else %} unchecked {% endif %}>
                      <span class="checkmark"></span>
                    </label></center></td>
                    <td ><a data-toggle="modal" data-target="#exampleModal{{things.id}}" data-whatever="" href="#">{{ things.protocol.forename }}</a></td>
                    <td >{{ things.task.TaskDescription }}</td>
                    <td >{{ things.task.person.name }}</td>
                    <td >{{ things.protocol.type }} </td>
                    
                </tr>

                <!-- Modal -->
<div class="modal fade" id="exampleModal{{things.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{things.protocol.forename}} {{things.protocol.surname}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <b>{{ things.protocol.type }}</b><br>
        Year level: {{ things.protocol.yearLevel }}<br>
        {% if things.protocol.arrivalDate %}
        Arrival Date: {{ things.protocol.arrivalDate }}
        {% else %}
        
        Leaving Date: {{ things.protocol.leavingDate }} 
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



         
        {% endfor %}
    </table>    
    

    {% endif %}
  </div>

  

  <script>
function sendEmail() {
   
  window.open("https://mail.google.com/mail/?view=cm&fs=1&tf=1&to={{ emails }}&su=Dwight%20Protocols&body=Click%20below%20to%20see%20tasks%20to%20complete%0Dhttps://dwight-london-protocols.herokuapp.com/%0D{{ links }}");
}


   $('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var protocol = button.data('whatever') // Extract info from data-* attributes
  
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text('Protocol for ' + protocol)
  // modal.find('.modal-body input').val(recipient)
})
  </script>
  <!--ajax call to server to update cross/uncross without reloading page-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript">
    $('.taskCheckbox').click(function(){
    var catid;
    catid = $(this).attr("data-catid");
    $.ajax(
    {
        type:"GET",
        url: "/cross",
        data:{
                 post_id: catid
        },
        success: function( data ) 
        {
            // $( '#check'+ catid ).remove();
            $( '#message' ).text(data);
        }
     })
});
</script>





{% else %}
<a href="{% provider_login_url 'google' %}">Login with Google</a>
  {% endif %}


{% endblock %}


