<!--html template with django code snippets-->

{% extends 'base.html' %}

{% block title %}protocols{% endblock %}

{% block content %}

<div class="container-fluid">
    
 
  
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissable" role="alert">
        <button class="close" data-dismiss="alert">
        <small><sup>x</sup></small>
        </button>
        {{ message }}
    </div>
    {% endfor %}
{% endif %}
 <a href="{% url 'edit' '0' %}"><button class="btn btn-primary" type="submit">Start protocol</button></a>
 <a href="{% url 'editperson' '0' %}"><button class="btn btn-secondary" type="submit">Add person</button></a>
 <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Entities
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    
    <a class="dropdown-item" href="{% url 'entities' 'persons' %}">Persons</a>
    <a class="dropdown-item" href="{% url 'entities' 'Protocol type' %}">Protocol types</a>
    <a class="dropdown-item" href="{% url 'entities' 'tasks' %}">Tasks</a>
    
    
  </div>
</div>

 <br>

 <!-- iterates through people (passed to template from home view) and filters list on selection -->
 Filters: 
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      People
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="{% url 'filter' 'all' %}">All people</a>
      <div class="dropdown-divider"></div>
      {% for person in people %}
      <a class="dropdown-item" href="{% url 'filter' person.name %}">{{ person }}</a>
      {% endfor %} 
      
    </div>
  </div>

 <br><br>
    {% if all_items %}
    <table class="table table-dark">
        <tr class="table-primary">
            <th><div class="form-check"><a href="{% url 'filter' 'completed=False' %}"><input type="checkbox" class="form-check-input" checked /></a></div></th>
            <th>Description <a href="{% url 'order' %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
              </svg></a></th>
            <th></th>
            <th></th>
          </tr>
         
          <!--iterates through all_items object-->
        {% for things in all_items %}
            {% if things.completed %}
                <tr class="table-secondary">
                    <td><center><div class="form-check"><a href="{% url 'uncross' things.id %}"><input type="checkbox" class="form-check-input" checked /></a></div></center></td>
                    <td class="striker">{{ things.forename }} </td>
                    
                    <td><center><a href="{% url 'delete' things.id %}"><svg class="bi bi-x-square-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="#cf2027" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M2 0a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V2a2 2 0 00-2-2H2zm9.854 4.854a.5.5 0 00-.708-.708L8 7.293 4.854 4.146a.5.5 0 10-.708.708L7.293 8l-3.147 3.146a.5.5 0 00.708.708L8 8.707l3.146 3.147a.5.5 0 00.708-.708L8.707 8l3.147-3.146z" clip-rule="evenodd"/>
                      </svg></a></center></td>
                    <td><center><a href="{% url 'edit' things.id %}"><svg class="bi bi-pencil" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 011.414 0l2 2a1 1 0 010 1.414l-9 9a1 1 0 01-.39.242l-3 1a1 1 0 01-1.266-1.265l1-3a1 1 0 01.242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z" clip-rule="evenodd"/>
                        <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 00.5.5H4v.5a.5.5 0 00.5.5H5v.5a.5.5 0 00.5.5H6v-1.5a.5.5 0 00-.5-.5H5v-.5a.5.5 0 00-.5-.5H3z" clip-rule="evenodd"/>
                      </svg></a></center></td>
                </tr>
            {% else %}
                <tr>
                    <td><center><div class="form-check"><a href="{% url 'cross_off' things.id %}"><input type="checkbox" class="form-check-input" unchecked></a></div></center></td>
                    <td>{{ things.forename }} </td>
                    <td><center><a href="{% url 'delete' things.id %}"><svg class="bi bi-x-square-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="#cf2027" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M2 0a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V2a2 2 0 00-2-2H2zm9.854 4.854a.5.5 0 00-.708-.708L8 7.293 4.854 4.146a.5.5 0 10-.708.708L7.293 8l-3.147 3.146a.5.5 0 00.708.708L8 8.707l3.146 3.147a.5.5 0 00.708-.708L8.707 8l3.147-3.146z" clip-rule="evenodd"/>
                      </svg></a></center></td>
                    <td><center><a href="{% url 'edit' things.id %}"><svg class="bi bi-pencil" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 011.414 0l2 2a1 1 0 010 1.414l-9 9a1 1 0 01-.39.242l-3 1a1 1 0 01-1.266-1.265l1-3a1 1 0 01.242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z" clip-rule="evenodd"/>
                        <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 00.5.5H4v.5a.5.5 0 00.5.5H5v.5a.5.5 0 00.5.5H6v-1.5a.5.5 0 00-.5-.5H5v-.5a.5.5 0 00-.5-.5H3z" clip-rule="evenodd"/>
                      </svg></a></center></td>
                </tr>
            {% endif %}

        {% endfor %}
    </table>    
    

    {% endif %}
    

</div>

<script type="text/javascript" src="js/bootstrap/bootstrap-dropdown.js"></script>
<script>
     $(document).ready(function(){
        $('.dropdown-toggle').dropdown()
    });
</script>

{% endblock %}


