{% extends 'base.html' %}

{% block title %}to do app edit{% endblock %}

<!-- package to make forms look prettier..see link how to implement -->
<!-- https://www.geeksforgeeks.org/styling-django-forms-with-django-crispy-forms/ --> 
{%load crispy_forms_tags %}


{% block content %} 

<h2>{{ protocoltype }}</h2>

  <form action="" method="post">
    {% csrf_token %}
    {{form|crispy}}
    <br><br>
    <button class="btn btn-primary" type="submit">Start</button>
  </form>  
{{ typeFields }}
    
{% endblock %}